*{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a::after{
    text-decoration: none;
    color: black;
}

/*nav bar*/

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.9rem;
}

.topleft, .topright{
    display: flex;
}

.topleft li{
    margin-left: 20px;
}

.topright li{
    margin-right: 20px;
}

/*Google header section*/
.logo{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.logo h1{
    font-family: 'Poppins', 'sans-serif';
    font-size: 5rem;
}

.logo .g{
    color: #4285f4;
}

.logo .o1, .logo .e{
    color: #ea4335;
}

.logo .o2{
    color: #fbbc05;
}

.logo .l{
    color: #34a853;
}

/*search bar*/
.searchbox {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    height: 40px;
}

.textbox{
    width: 30vw;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
}

/*search buttons*/
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.buttons h2{
    font-size: 0.9rem;
}

.buttons .googlesearch{
    margin-right: 20px;
}

.googlesearch, .lucky{
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 10%;
}